OKTA_DOMAIN=dev-12345678.okta.com
OKTA_ISSUER=https://dev-12345678.okta.com/oauth2/<authServerId>
OKTA_JWKS_URI=https://dev-12345678.okta.com/oauth2/<authServerId>/v1/keys
OKTA_AUDIENCE=api://okta-lab
